{% extends "base.html" %}
{% block contenido %}
    <div class="container">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item {{ buscando_alumnos }}">
                <a class="nav-link" data-toggle="tab" href="#alumnos" role="tab">Administrar alumnos</a>
            </li>
            <li class="nav-item {{ buscando_tutores }}">
                <a class="nav-link" data-toggle="tab" href="#tutores" role="tab">Administrar tutores</a>
            </li>
            <li class="nav-item {{ buscando_lineas_investigacion }}">
                <a class="nav-link" data-toggle="tab" href="#lineas_investigacion" role="tab">Administrar líneas de investigación</a>
            </li>
        </ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane {{ buscando_alumnos }}" id="alumnos" role="tabpanel">
        <div class="container">
            </br>
            <div class="panel panel-primary">
                <div class="panel-heading">Agregar Alumno</div>
                <div class="panel-body">
                    <form method="POST" action="/agregar_alumno">
                        <div class="form-group">
                            <label for="">Nombre: </label>
                            <input class="form-control" name="agregar_alumno_nombre" type="text">
                        </div>
                        <div class="form-group">
                            <label for="">Apellido: </label>
                            <input class="form-control" name="agregar_alumno_apellido" type="text">
                        </div>
                        <div class="form-group">
                            <label for="">Cédula: </label>
                            <input class="form-control" name="agregar_alumno_cedula" type="text">
                        </div>
                        <div class="form-group">
                            <label for="">Carrera: </label>
                            <select class="selectpicker" name="agregar_alumno_carrera" style="width:100%">
                                <option selected disabled hidden style='display: none' value=''></option>
                                <option value="Informatica">INFORMÁTICA</option>
                                <option value="Mantenimiento de obras">MANTENIMIENTO DE OBRAS</option>
                            </select>
                        </div>
                        <input class="form-control" type="submit" value="Agregar">
                    </form>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Buscar Alumnos</div>
                <div class="panel-body">
            <form method="POST" action="/buscar_alumnos">
                <div class="form-group">
                    <label for="">Cédula de identidad: </label>
                    <input class="form-control" name="cedula_alumno" type="text">
                </div>
                <input class="form-control" type="submit">
            </form>
            {% if alumnos %}
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Cédula</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Carrera</th>
                            <th>Borrar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for alumno in alumnos %}
                            <tr>
                                <td><a href="/editar_alumno/{{ alumno.indice }}">{{ alumno.cedula }}</a></td>
                                <td>{{ alumno.nombre }}</td>
                                <td>{{ alumno.apellido }}</td>
                                <td>{{ alumno.carrera }}</td>
                                <td><a href="/borrar_alumno/{{ alumno.indice }}">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            </div>
            </div>
        </div>
    </div>   
    <div class="tab-pane {{ buscando_tutores }}" id="tutores" role="tabpanel">
        <div class="container">
            </br>
            <div class="panel panel-primary">
                <div class="panel-heading">Agregar tutor</div>
                <div class="panel-body">
                    <form method="POST" action="/agregar_tutor">
                        <div class="form-group">
                            <label for="">Nombre: </label>
                            <input class="form-control" name="agregar_tutor_nombre" type="text">
                        </div>
                        <div class="form-group">
                            <label for="">Apellido: </label>
                            <input class="form-control" name="agregar_tutor_apellido" type="text">
                        </div>
                        <div class="form-group">
                            <label for="">Cédula: </label>
                            <input class="form-control" name="agregar_tutor_cedula" type="text">
                        </div>
                        <div class="form-group">
                            <label for="">Línea de investigación: </label>
                            <select class="selectpicker" multiple data-live-search="true" name="agregar_tutor_linea" style="width:100%">
                                {%  for linea in lineas_investigacion_select %}
                                <option value="{{ linea.indice }}">{{ linea.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input class="form-control" type="submit" value="Agregar">
                    </form>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Buscar tutor</div>
                <div class="panel-body">
                    <form method="POST" action="/buscar_tutores">
                        <div class="form-group">
                            <label for="">Cédula de identidad: </label>
                            <input class="form-control" name="cedula_tutor" type="text">
                        </div>
                        <input class="form-control" type="submit">
                    </form>
                    {% if tutores %}
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Cédula</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Línea de investigación</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tutor in tutores %}
                                    <tr>
                                        <td><a href="/editar_tutor/{{ tutor.indice }}">{{ tutor.cedula }}</a></td>
                                        <td>{{ tutor.nombre }}</td>
                                        <td>{{ tutor.apellido }}</td>
                                        <td>
                                        {% for linea in tutor.lineas_investigacion %}
                                            <span class="label label-primary">{{ linea.nombre }}</span>
                                        {% endfor %}    
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane {{ buscando_lineas_investigacion }}" id="lineas_investigacion" role="tabpanel">
        <div class="container">
            </br>
            <div class="panel panel-primary">
                <div class="panel-heading">Agregar línea de investigación</div>
                <div class="panel-body">
                    <form method="POST" action="/agregar_linea_investigacion">
                        <div class="form-group">
                            <label for="">Nombre: </label>
                            <input class="form-control" name="linea_investigacion" type="text">
                        </div>
                        <input class="form-control" type="submit" value="Agregar">
                    </form>
                </div>
            </div>
            </br>
            <div class="panel panel-primary">
                <div class="panel-heading">Buscar líneas de investigación</div>
                <div class="panel-body">
                    <form method="POST" action="/buscar_lineas_investigacion">
                        <div class="form-group">
                            <label for="">Nombre: </label>
                            <input class="form-control" name="linea_investigacion" type="text">
                        </div>
                        <input class="form-control" type="submit" value="Buscar">
                    </form>
                    {% if lineas_investigacion %}
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Borrar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for l_inv in lineas_investigacion %}
                                    <tr>
                                        <td><a href="/editar_linea/{{ l_inv.indice }}">{{ l_inv.nombre }}</a></td>
                                        <td><a href="/borrar_linea_investigacion/{{ l_inv.indice }}"><span class="glyphicon glyphicon-remove"></span></a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}