{% extends "base.html" %}
{% block contenido %}
    <div class="container">
        <ul class="nav nav-tabs" role="tablist">
  <li class="nav-item {{ buscando_alumnos }}">
    <a class="nav-link" data-toggle="tab" href="#alumnos" role="tab">Administrar alumnos</a>
  </li>
  <li class="nav-item {{ buscando_tesis }}">
    <a class="nav-link" data-toggle="tab" href="#titulos" role="tab">Administrar títulos</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane {{ buscando_alumnos }}" id="alumnos" role="tabpanel">
        <div class="container">
            <form method="POST" action="/buscar_alumnos">
                <div class="form-group">
                    <label for="">Cédula de identidad: </label>
                    <input class="form-control" name="cedula_alumno" type="text">
                </div>
                <input class="form-control" type="submit">
            </form>
            {% if alumnos %}
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Cédula</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Carrera</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for alumno in alumnos %}
                            <tr>
                                <td><a href="/editar_alumno/{{ alumno.indice }}">{{ alumno.cedula }}</a></td>
                                <td>{{ alumno.nombre }}</td>
                                <td>{{ alumno.apellido }}</td>
                                <td>{{ alumno.carrera }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
    <div class="tab-pane {{ buscando_tesis }}" id="titulos" role="tabpanel">
        <div class="container">
            <form method="POST" action="/buscar_tesis">
                <div class="form-group">
                    <label for="">Cédula de identidad: </label>
                    <input class="form-control" name="cedula_tesis" type="text">
                </div>
                <input class="form-control" type="submit">
            </form>
            {% if tesis %}
                <div class="form-group">
                    <label for="">{{ alumno.cedula}} </label>
                    <label for="">{{ alumno.nombre }} </label>
                    <label for="">{{ alumno.apellido }} </label>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Línea de investigación</th>
                            <th>Tutor</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cada_tesis in tesis %}
                            <tr>
                                <td><a href="/editar_tesis/{{ cada_tesis.indice }}">{{ cada_tesis.titulo }}</a></td>
                                <td><!--{{ cada_tesis.linea_investigacion }}--></td>
                                <td>{{ cada_tesis.tutor.nombre }}</td>
                                <td><!--{{ cada_tesis.status }}--></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}