<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/static/bootstrap-select.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/static/bootstrap-select.min.js"></script>
        <script src="/static/bootstrap.min.js"></script>

    </head>
    <body>

            <nav class="navbar navbar-default" style="height:120px">
                <div class="container">
                    <div class="navbar-header">
                        <img class="navbar-brand" src="/static/UAH_LOGO.jpg" alt="" style="height:100px">
                    </div>
                    <ul class="nav navbar-nav" style="margin-top:30px">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        {% if not sin_identificar %}
                        <li class="nav-item">
                            <a class="nav-link" href="/administrar">Panel Administrativo</a>
                        </li>
                        {% endif %}
                        {% if sin_identificar %}
                        <li class="nav-item pull-right">
                            <a class="nav-link" href="/ingresar">Ingresar</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        {% block contenido %}
        {% endblock %}
    </body>
</html>