{% extends "user_panel.html" %}
{% block content %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">Editar Alumno</div>
            <div class="panel-body">
                <form method="POST" action="/editar_alumno/{{ alumno.indice }}">
                    <div class="form-group">
                        <label for="">Cédula: </label>
                        <input class="form-control" name="cedula" type="text" value="{{ alumno.cedula }}">
                    </div>
                    <div class="form-group">
                        <label for="">Nombres: </label>
                        <input class="form-control" name="nombre" type="text" value="{{ alumno.nombre }}">
                    </div>
                    <div class="form-group">
                        <label for="">Apellidos: </label>
                        <input class="form-control" name="apellido" type="text" value="{{ alumno.apellido }}">
                    </div>
                    <div class="form-group">
                        <label for="">Carrera: </label>
                        <select class="form-control" name="carrera" value="">
                            <option selected disabled hidden style='display: none' value=''></option>
                            <option value="INFORMATICA"{% if alumno.carrera == "INFORMATICA" %}selected{% endif %}>INFORMÁTICA</option>
                            <option value="MANTENIMIENTO DE OBRAS" {% if alumno.carrera == "MANTENIMIENTO DE OBRAS" %}selected{% endif %}>MANTENIMIENTO DE OBRAS</option>
                        </select>
                    </div>
                    <input class="form-control tema-tesis boton-tesis" type="submit" value="Guardar">
                </form>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Títulos del Alumno</div>
            <div class="panel-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Línea de investigación</th>
                            <th>Tutor</th>
                            <th>Status</th>
                            <th>Borrar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cada_tesis in alumno._tesis %}
                            <tr>
                                <td><a href="/editar_tesis/{{ cada_tesis.indice }}">{{ cada_tesis.titulo }}</a></td>
                                <td>{{ cada_tesis.linea_investigacion.nombre }}</td>
                                <td>{{ cada_tesis.tutor.nombre }} {{ cada_tesis.tutor.apellido }}</td>
                                <td>{{ cada_tesis.status.upper() }}</td>
                                <td><span style="cursor:pointer"  onclick="confirmar_borrado(event)" class="glyphicon glyphicon-trash" data-destino="/borrar_titulo/{{ cada_tesis.indice }}"  data-texto="{{ cada_tesis.titulo }}"></span></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Agregar Título al Alumno</div>
            <div class="panel-body">
                <form method="POST" action="/agregar_titulo/{{ alumno.indice }}">
                    <div class="form-group">
                        <label for="">Título: </label>
                        <textarea class="form-control" name="nuevo_titulo" id="nuevo_titulo" onblur="obtenerLineaYTutores()"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="status">Status: </label>
                        <select name="status_nuevo_titulo" class="form-control">
                            <option selected disabled hidden style='display: none' value=''></option>
                            <option value="rechazado" >RECHAZADO</option>
                            <option value="modificable" >MODIFICABLE</option>
                            <option value="aprobado" >APROBADO</option>
                            <option value="pendiente" >PENDIENTE</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Tutor: </label>
                        <select class="form-control select2 select2-hidden-accesible" data-live-search="true" name="tutor_nuevo_titulo" id="tutor_nuevo_titulo">
                            <option selected disabled hidden style='display: none' value=''></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Línea de Investigación</label>
                        <input type="text" class="form-control" name="linea_nuevo_titulo" readonly="readonly" id="linea_nuevo_titulo"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control tema-tesis boton-tesis" type="submit" value="Guardar">
                        </div>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}