{% extends "base.html" %}
{% block contenido %}
    <div class="container">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Autor</th>
                </tr>
            </thead>
            <tbody>
                {% for tesis in parecidos %}
                    <tr>
                        <td>{{ tesis.titulo }}</td>
                        <td>{{ tesis.autor.nombre }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}